@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@@mdo">Open modal for @@mdo</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@@fat">Open modal for @@fat</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@@getbootstrap">Open modal for @@getbootstrap</button>*@
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Çkemi @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-link text">Shkyquni</button>
            </form>
        </li>
    }
    else
    {
        @*<li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>*@
<li class="nav-item">
    @*<a class="nav-link text-dark " asp-area="Identity" asp-page="/Account/Login">Login</a>*@
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Login">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Kyquni</button>
        @*<button type="submit" class="btn btn-link text">Kyquni</button>*@
    </form>
</li>
    }
</ul>
